<% provide :page_title, I18n.t("hyrax.dashboard.batch_uploads.title") %>

<div class="row" style="padding-bottom: 30px;">
  <div class="col-xs-8 main-header">
    <h1><%= t('hyrax.dashboard.batch_uploads.header') %></h1>
  </div>
</div>

<%= simple_form_for @form,
                    html: {
                      data: { behavior: 'work-form',
                              'param-key' => @form.model_name.param_key },
                      multipart: true
                    } do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :source_file, t("hyrax.dashboard.batch_uploads.source_file_label"), class: "col-xs-2 control-label" %>
      <div class="col-xs-6"><%= f.file_field :source_file %></div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :files_location, t("hyrax.dashboard.batch_uploads.files_location_label"), class: "col-xs-2 control-label"%>
      <div class="col-xs-6"><%= f.text_field :files_location, class: "form-control", required: true %></div>
    </div>
  </div>

  <%= f.submit value: t("hyrax.dashboard.batch_uploads.button_label"), class: "btn btn-primary" %>
<% end %>
